################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/FileCompressor/bin
/.vs
/FileCompressor/obj
*.user
*.suo
